<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label>
            Placa
            <input type = "text" maxlenth="6" name = "placa" >
        </label>
        <br>
        <label>
            Tipo
            <select name="tipo">
                <option value = "1"> Automovil</option>
                <option value = "2"> Moto</option>
            </select>
        </label>
        <br>
        <input type="submit" value="Parquear">

    </form>
</body>
</html>